@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Application pour choix d'activite a faire pendant le mois</p>
    <p>Consultez la liste et faites votre choix</p>
    <p><a href="~/contact.html">Nous contacter</a> </p>
</div>
